@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  background: #EE7F7F;
  height: 25vh;
}

header img {
  width: 50%;
  filter: drop-shadow(2px 2px 5px #000000);
}

section div {
  display: flex;
  justify-content: end;
  gap: 30px;
}

section div img {
  width: 10%;
}

main {
  background: #FBE4CB;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main section:nth-child(1) {
  display: flex;
  justify-content: center;
}

main section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

main section:nth-child(2) a {
  text-align: center;
  width: 50%;
  background: #EE7F7F;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
}

section {
  width: 45vw;
}

section img {
  display: flex;
  width: 40vw;
}

footer {
  width: 100%;
  background: #EE7F7F;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

footer section:nth-child(1) {
  border-bottom: 2px solid black;
}

footer section:nth-child(1) #logoFooter {
  width: 20%;
  filter: drop-shadow(2px 2px 5px #000000);
}

footer .social img {
  display: flex;
  justify-content: end;
  width: 5%;
}

footer section:nth-child(2) {
  margin-top: 1rem;
}

footer section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
}

@media screen and (max-width: 946px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
  }

  main section:nth-child(1) img {
    width: 90%;
  }

  main section:nth-child(2) {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 30px;
  }

  main section:nth-child(2) a {
    align-items: center;
    width: 100%;
  }

  footer section:nth-child(1) #logoFooter {
    width: 30%;
  }
  footer section:nth-child(1) img {
    width: 10%;
  }

  :is(footer section:nth-child(2)) a,
  p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  header img {
    width: 90%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 30px;
  }

  main section:nth-child(1) img{
    width: 70vw;
  }

  main section:nth-child(2) {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 30px
  }

  main section:nth-child(2) a {
    align-items: center;
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer section:nth-child(1) #logoFooter {
    display: none;
  }

  footer section:nth-child(1) img {
    width: 15%;
  }

  footer section:nth-child(1) {
    padding: 1.5rem;
  }

  footer section {
    flex-direction: column;
  }

  footer .social {
    justify-content: center;
  }

  footer section:nth-child(2) {
    text-align: center;
    display: flex;
    gap: 10px;
  }
}
