@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(252,179,166);
    background: linear-gradient(0deg, rgba(255, 234, 190,1) 0%, rgba(249,101,129,1) 100%);
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff0d1;
    border-radius: 0 0 2rem 2rem;
}

header img:first-child {
    margin: auto;
    width: 15%;
}

header div {
    align-self: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section:first-child {
    display: flex;
    justify-content: center;
}

section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section:nth-child(2) button {
    width: 25%;
    padding: 0.7rem 0.5rem;
    border-radius: 18px;
    color: black;
    font-weight: 600;
    background: rgb(250, 134, 134);
    border: 2   px solid #fff;
    font-size: 17px;
}

section img {
    width: 45%;
}

footer{
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: rgb(249,101,129);
    border-radius: 2rem 2rem 0 0;
    height: 15vh;
}

footer img:first-child{
    width: 6%;
}

footer img:nth-child(2){
    width: 2vw;
    height: 4vh;
    
}

footer img:nth-child(3){
    width: 2vw;
    height: 4vh;
    
}

#coluna{
    display: flex;
    flex-direction: column;
}

#images{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: white;
}

#images img{
    width: 30px;
    height: 30px;   
}

#images p{
    margin-left: 5px;
    font-size: 15px;
    
}

#images a{
    font-size: 15px;
    margin-left: auto;
    color: white;
    text-decoration: none;
}
/* // aaaaaaaa  */